*{
    margin: auto;
}

body {
    background-color: #3c9b6b;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin-left: 25px;
    margin-top: 25px;
    color: #eccece;
}
